*
{
	margin: 0;
	padding-left: 0;
}

body{
	font-family: sans-serif;
	    position: relative; 

}

/*-----------NAVIGATION-----------*/

#nav-bar{
	position: sticky;
	top: 0;
	z-index: 10;
}

.navbar{
	background-image: linear-gradient(to right, #483DF6, #18056E);
	padding: 0 !important;
}

.navbar-brand img{
	height: 2rem;
	padding-left: 2rem;
}

.navbar-nav li{
	padding: 0 1rem;

}

.navbar-nav li a{
	color: #fff !important;
	font-weight: 500; 
	float: right;
	text-align: left;
}

.navbar-nav li a:hover{
	font-weight: 700; 
}

.fa-bars{
	color: #fff;
	font-size: 1.5rem !important; 
}

.navbar-toggler{
	outline: none;
}

/*-----------BANNER SECTION-----------*/
#banner{
	background-image: linear-gradient(to right, #483DF6, #18056E);
	color: #fff !important;
	padding-top: 5%;
	padding-bottom: 5%;
	align-content: center;
}

.banner-button{
	background-color: #40B5BC;
	color: #fff;
	padding: 1% 1% 1% 1%;
}

/*-----------ABOUT SECTION-----------*/
#about{
	padding-top: 10%;
}

.title{
	color: #18056E;
}

.title::after{
	content: "";
	background: #40B5BC;
	height: 5px;
	width: 150px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5%;
	display: block;
}
/*-----------SERVICES SECTION-----------*/
#services{
	padding-top: 10%;
}

.services-img{
	width: 40%;
	padding-bottom: 5%;
	margin: 0 auto;
}

.services-img:hover {
	transition: transform .5s;
	transform: scale(1.1) rotate(-10deg);
  }

.services-category{
	color: #18056E;
	padding-top: 5%; 
}

/*-----------PORTFOLIO SECTION-----------*/
#portfolio{
	padding: 10% 0 10% 0;
}

/*-----------FOOTER SECTION-----------*/

#footer{
	background-image: linear-gradient(to right, #483DF6, #18056E);
	color: #fff !important;
	padding-top: 5%;
	padding-bottom: 5%;
	align-content: center;
}

#mapid { 
	width: 100%
	height: 250px; 
	position: relative;
}
#map-holder{
    padding-bottom: 1em;
}

